
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/webfonts/opensans-bold-webfont.eot');
    src: url('../fonts/webfonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/webfonts/opensans-bolditalic-webfont.eot');
    src: url('../fonts/webfonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/webfonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/webfonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/webfonts/opensans-extrabolditalic-webfont.eot');
    src: url('../fonts/webfonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/webfonts/opensans-italic-webfont.eot');
    src: url('../fonts/webfonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/webfonts/opensans-light-webfont.eot');
    src: url('../fonts/webfonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/webfonts/opensans-lightitalic-webfont.eot');
    src: url('../fonts/webfonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/webfonts/opensans-regular-webfont.eot');
    src: url('../fonts/webfonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/webfonts/opensans-semibold-webfont.eot');
    src: url('../fonts/webfonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/webfonts/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/webfonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/webfonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'rtmnu-students';
  src:  url('../fonts/font-icon/rtmnu-students.eot?n4nqwk');
  src:  url('../fonts/font-icon/rtmnu-students.eot?n4nqwk#iefix') format('embedded-opentype'),
    url('../fonts/font-icon/rtmnu-students.ttf?n4nqwk') format('truetype'),
    url('../fonts/font-icon/rtmnu-students.woff?n4nqwk') format('woff'),
    url('../fonts/font-icon/rtmnu-students.svg?n4nqwk#rtmnu-students') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rtmnu-students' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-post-it:before {
  content: "\e91c";
}
.icon-plug:before {
  content: "\e91b";
}
.icon-radar:before {
  content: "\e911";
}
.icon-robot:before {
  content: "\e912";
}
.icon-high-voltage:before {
  content: "\e913";
}
.icon-computer-1:before {
  content: "\e914";
}
.icon-computer:before {
  content: "\e915";
}
.icon-web:before {
  content: "\e916";
}
.icon-days:before {
  content: "\e917";
}
.icon-pin-post:before {
  content: "\e918";
}
.icon-eye:before {
  content: "\e919";
}
.icon-multimedia:before {
  content: "\e91a";
}
.icon-close-envelope:before {
  content: "\e90e";
}
.icon-old-typical-phone:before {
  content: "\e90f";
}
.icon-placeholder:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e90c";
}
.icon-star-2:before {
  content: "\e90d";
}
.icon-audience-in-presentation-of-business:before {
  content: "\e908";
}
.icon-folder:before {
  content: "\e909";
}
.icon-question-class-note-symbol:before {
  content: "\e90a";
}
.icon-tool:before {
  content: "\e90b";
}
.icon-arrows:before {
  content: "\e900";
}
.icon-down-arrow:before {
  content: "\e901";
}
.icon-facebook-logo-in-circular-button-outlined-social-symbol:before {
  content: "\e902";
}
.icon-left-arrow:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-pdf-file:before {
  content: "\e905";
}
.icon-social:before {
  content: "\e906";
}
.icon-twitter-circular-button:before {
  content: "\e907";
}




body{color:#303030;font-family: 'open_sansregular';}
h1{font-size: 48px;font-family: 'open_sanssemibold';}
h2{font-size: 30px;font-family: 'open_sanssemibold';}
h3{font-size: 24px; font-family: 'open_sansregular';}
h4{font-size: 22px; font-family: 'open_sansregular';}
h5{font-size: 18px; font-family: 'open_sansregular';}
h6{font-size: 16px; font-family: 'open_sansregular';}
.lg{font-size: 16px; font-family: 'open_sanslight';}
.sm{font-size: 14px; font-family: 'open_sanslight';}
.xl{font-size:20px;  font-family: 'open_sansregular';}
a{text-decoration: none;font-family: 'open_sansregular';font-size:16px;display:block;}
a:hover{text-decoration: none;color:inherit;}
.no-padding{padding: 0;}
.no-margin{margin: 0;}
.text-white{color:#fff;}
.text-black{color:#303030;}
ul, li{font-family: 'open_sansregular';}
.btn{padding: 7px 18px;}
.btn-search{height:50px;width:100px;background-color: #003150; border-color: transparent; color: white;}
.btn-green{background-color:#17b774;}
.btn-blue{background-color:#1b84ae;}
.btn-default:hover {color: #303030;background-color: #fff;border-color: #fff;}
.form-control:focus {border-color: #fff;}
.form-control:focus {    border-color:#ccc;    outline: 0;    -webkit-box-shadow: none;    box-shadow: none;}
.margin-side10{margin:0 10px;}
.margin20{margin:20px 0;}
.padding30{padding:30px 0;}
.color-blue{color:#3cb8ff;}
.form-group .reg-field{background-color:transparent; border-radius:0;width:300px;height:50px;}
.padding15{padding:15px;}
.padding-left0{padding-left:0;}
.row {margin:0 0;}



